*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body{
  background: linear-gradient(180deg, #bc1acb 0%, #0097ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #4f084d;
}
